@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AKADEMİYE HOŞGELDİNİZ... </h1> 
    
  @* <p> <a class="btn btn-primary " href="/Course/Apply"> APPLY
        </a></p>
        bu ifadeyi aşağıdakı gıbı de yapabılıriz*@
        <p>
            <a class="btn btn-primary" asp-controller="Course" asp-action="Apply"> APPLY

            </a>
        </p>
</div>
